# pip freeze

django
psycopg2-binary
python-decouple
djangorestframework
# pillow
dj-rest-auth
dj-rest-auth[with_social] # django-allauth has lesser packages but that is the recommended
djangorestframework-simplejwt
django-sslserver # geek guide and dev env and eventually prod
drf_social_oauth2==3.1.0
