/* file : LeftUser.css */
/* -------------------------------------------------- */
/*  profile picture */
/* -------------------------------------------------- */
.ct-main .ct-chatbox-ctn
{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: monospace;
}

.ct-chatbox-ctn .ct-chatbox-hd
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	background-color: var(--stat-2);
	border-radius: 7px 7px 0 0;
}

.ct-chatbox-ctn .ct-chatbox-title
{
	width: fit-content;
	max-width: 8rem;
	padding: 0.3rem;
	cursor: pointer;
	border-radius: 0.3rem;
	font-weight: bold;
	background-color: #3d444d;
	color: #1b1e22;
}

.ct-chatbox-ctn .ct-chatbox-inv
{
	margin-left: 20rem;
	cursor: pointer;
	color: var(--txt-2);
	background-color: var(--bdg-5);
	padding: 0.3rem 1rem;
	border-radius: 0.3rem;
}

.ct-chatbox-ctn .ct-chatbox-inv.invite-disabled
{
	cursor: not-allowed;
	background-color: var(--bdg-4);
}

.ct-chatbox-ctn .ct-chatbox-close
{
	margin-right: 1rem;
	cursor: pointer;
	padding: 0.3rem;
}

.ct-chatbox-ctn .ct-chatbox-bd
{
	padding: 0.5rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--cor-5) var(--cor-4);
}

.ct-chatbox-ctn .ct-chatbox-msg
{
	display: flex;
	padding: 0.3rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-all;
}

.ct-chatbox-ctn .ct-chatbox-ft
{
	display: flex;
}

.ct-chatbox-ctn .ct-chatbox-ft input
{
	flex: 1;
	padding: 0.5rem;
	border: none;
	border-radius: 0px 0px 0px 7px;
	background-color: #16191c;
	color: var(--stat-1);
}

/* focus or active, remain the same */
.ct-chatbox-ctn .ct-chatbox-ft input:focus,
.ct-chatbox-ctn .ct-chatbox-ft input:active
{
	outline: none;
}

.ct-chatbox-ctn .ct-chatbox-ft button
{
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0px 0px 7px 0px;
	background-color: var(--stat-2);
	color: var(--stat-1);
	cursor: pointer;
}

.ct-chatbox-bd .chat-msg-btn
{
	padding: 0.1rem 1rem;
	background-color: var(--bdg-5);
	border-radius: 0.3rem;
	margin-left: 0.5rem;
	border: none;
}
