/* file : ModalAdd.css */
/* -------------------------------------------------- */
/* add friend button's modal */
/* -------------------------------------------------- */
#modal-addFriend .modal-sm
{
	max-width: 22rem;
}

#modal-addFriend .add-friend-ctn
{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	align-items: center;
	padding: 1rem 2rem;
}

/* -------------------------------------------------- */
/* add friend form */
/* -------------------------------------------------- */
#modal-addFriend .add-friend-input
{
	padding: 0.5rem;
	font-family: 'Noto Sans JP' ,sans-serif;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
}

#modal-addFriend .add-friend-input::placeholder
{
	font-size: 1rem;
}

#modal-addFriend .ct-alert-addFriend
{
	margin: 0px;
	font-family: 'Noto Sans JP' ,sans-serif;
	font-size: 0.9rem;
	width: 100%;
	text-align: center;
	padding: 10px;
}

#modal-addFriend .add-friend-btn
{
	width: 100%;
	margin-top: 1rem;
}
