/* file : login-page.css */

/* -------------------------------------------------- */
/* developer notes
/* -------------------------------------------------- */
/* card structure
 * 
 * .login
 *  ├ .login__title
 *  ├ .login__form-group
 *  │                ├ .login__input-group
 *  │                │  ├ label
 *  │                │  └ input
 *  │                ├ .login__input-group
 *  │                │  ├ label
 *  │                │  └ input
 *  │                ├ .login__forgot-link
 *  │                └ .login__submit-btn
 *  ├ .login__divider
 *  │                └ hr + p + hr
 *  ├ .login__intra-btn
 *  │                ├ .login__intra-btn-logo
 *  │                └ .login__intra-btn-text
 *  └ .login__signup-line
 *                   └ span + a 
 */

/* -------------------------------------------------- */
/* container
/* -------------------------------------------------- */
.login
{
	gap: 1rem;
	width: 24rem;
	min-height: 30rem;
	border-radius: 1rem;
	height: fit-content;
	background-color: var(--cor-main-light);
	border: none;
}

/* -------------------------------------------------- */
/* container/title
/* -------------------------------------------------- */

.login > .login__title
{
	font-size: 2rem;
	font-weight: bold;
	padding-bottom: 1rem;
	color: var(--cor-main-dark);
	font-family: 'Caveat', cursive;
}

/* -------------------------------------------------- */
/* container/form-group
/* -------------------------------------------------- */
.login > .login__form-group
{
	gap: 1rem;
}

.login > .login__form-group > .login__input-group
{
	gap: 0.5rem;
	display: flex;
	flex-direction: column;
	color: var(--cor-main-dark);
}

.login > .login__form-group > .login__input-group > input::placeholder
{
	color: var(--cor-main-grey);
}

.login > .login__form-group > .login__submit-btn
{
	gap: 0.5rem;
	display: flex;
	flex-direction: column;
	color: var(--cor-main-light);
	background-color: var(--cor-main-dark);
}

/* -------------------------------------------------- */
/* card/divider */
/* -------------------------------------------------- */

.login > .login__divider > hr
{
	height: 2px;
	background-color: var(--cor-main-dark);
}

/* -------------------------------------------------- */
/* card/intra-btn */
/* -------------------------------------------------- */
.login > .login__intra-btn
{
	gap: 1rem;
	border: 1px solid var(--cor-main-grey);
}

.login > .login__intra-btn > .login__intra-btn-logo
{
	color: var(--cor-main-dark);
	font-weight: bold;
	margin-right: 8px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	font-family: 'Caveat', cursive;
}

/* -------------------------------------------------- */
/* card/signup-line */
/* -------------------------------------------------- */
