/* file : main_right-panel.css */

/* -------------------------------------------------- */
/* developer notes
/* -------------------------------------------------- */
/*
 * media
 *  ├ header
 *  ├ main
 *  │  └ main-width-container
 *  │      ├── left-panel
 *  │      ├── center-panel
 *  │      └─── right-panel
 *  │                  ├ h3
 *  │                  ├ friend-container
 *  │                  └ add-friend-btn
 *  └ footer
 */

/* -------------------------------------------------- */
/* import */
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* right-panel */
/* -------------------------------------------------- */
main > div.main-width-container > .right-panel
{
	flex: 1;
	gap: 1rem;
}

main > div.main-width-container > .right-panel > .players-list
{
	gap : 1rem;
	background: var(--cor-main-dark-placeholder);
}

main > div.main-width-container > .right-panel > h3
{
	margin: 0;
}

main > div.main-width-container > .right-panel > .players-list
{
	flex: 1;
	overflow-y: auto;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

main > div.main-width-container > .right-panel > .players-list .place-holder
{
	font-size: 1.2rem;
	color: var(--cor-main-grey-placeholder);
}

main > div.main-width-container > .right-panel > .players-list .player-list-div
{
	cursor: pointer;
	gap:1rem;
	border-radius: 7px;
	background: linear-gradient(145deg, #23282c, #1e2125);
	box-shadow:  6px 6px 12px #131518,
				 -6px -6px 12px #2f353a;
}

main > div.main-width-container > .right-panel > .players-list .player-list-pic
{
	width:30px;
	height:30px;
	border-radius: 100%;
}

main > div.main-width-container > .right-panel > .players-list .player-list-name
{
	flex:1;
	font-size: 0.8rem;
}

main > div.main-width-container > .right-panel > .players-list .player-list-status
{
	width:7px;
	height:7px;
	border-radius: 100%;
}

main > div.main-width-container > .right-panel > .players-list .player-list-status.status-online
{
	background-color: var(--cor-online);
}


main > div.main-width-container > .right-panel > .players-list .player-list-status.status-offline
{
	background-color: var(--cor-offline);
}
