/* -------------------------------------------------- */
/* truncate */
/* -------------------------------------------------- */
.truncate {
  width: 150px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
