/* file : home.css */
/* -------------------------------------------------- */
/*  page */
/* -------------------------------------------------- */
.ct-page-width
{
	width:1300px;
}

/* -------------------------------------------------- */
/* header-footer
/* -------------------------------------------------- */
header, footer
{
	font-family: 'Caveat', cursive;
	background-color: var(--cor-1);
}

header h1
{
	width: fit-content;
	cursor: pointer;
	user-select: none;
}

footer p
{
	font-size: 1.1rem;
	font-weight: bold;
}

/* -------------------------------------------------- */
/* main
/* -------------------------------------------------- */
main
{
	flex: 1;
	font-family: 'Kalam', cursive;
}

/* -------------------------------------------------- */
/*  main -- container
/* -------------------------------------------------- */
.ct-main
{
	height: 700px;
	border-radius: 50px;
	background-color: var(--cor-1);
	box-shadow:  50px 50px 100px #0d0f10,
				 -50px -50px 100px #353b42;
}

/* -------------------------------------------------- */
/*  left-panel
/* -------------------------------------------------- */
.ct-main > .ct-main-lpanel
{
	flex: 1;
	gap: 1rem;
}

.ct-main-lpanel > .ct-lpanel-pfp
{
	height: 125px;
	width: 125px;
	border-radius: 50%;
}

.ct-main-lpanel > .ct-lpanel-username
{
	max-width: 125px;
	font-weight: bold;
}

.ct-main-lpanel > .ct-lpanel-btns
{
	flex: 1;
	gap: 1rem;
}

.ct-lpanel-btns > #btn-history
{
	align-self: flex-start;
}

/* -------------------------------------------------- */
/*  middle-panel -- base
/* -------------------------------------------------- */
.ct-main > .ct-main-mpanel
{
	flex: 4;
}

/* top */
.ct-main-mpanel > .ct-mpanel-top
{
	flex: 3;
}

.ct-mpanel-top > .ct-top-title
{
	font-size: 1.5rem;
	font-weight: bold;
}

.ct-mpanel-top > .ct-top-board
{
	width: 800px;
	height: 320px;
	gap: 1rem;
	border-radius: 27px;
	background: #212529;
	box-shadow: inset 8px 8px 16px #1c1f23,
				inset -8px -8px 16px #262b2f;
	padding: 30px;
}

/* bottom */
.ct-main-mpanel > .ct-mpanel-bottom
{
	flex: 2;
	gap: 15px;
}

.ct-mpanel-bottom > .ct-bottom-left
{
	width: 245px;
	border-radius: 7px;
	background-color: var(--cor-4);
}

.ct-mpanel-bottom > .ct-bottom-right
{
	width: 540px;
	border-radius: 7px;
	background-color: var(--cor-4);
}

/* -------------------------------------------------- */
/*  right-panel
/* -------------------------------------------------- */
.ct-main .ct-main-rpanel
{
	flex: 1;
}

.ct-main-rpanel > .ct-rpanel-title
{
	font-size: 1.5rem;
	font-weight: bold;
}

.ct-main-rpanel > .ct-rpanel-list
{
	flex: 1;
	background-color: var(--cor-4);
	border-radius: 10px;
	margin-bottom: 1rem;
}

/* -------------------------------------------------- */
/*  Home-elements -- left-panel */
/* -------------------------------------------------- */
.ct-lpanel-stats
{
	background-color: var(--cor-1);
	border-radius: 10px;
	font-family: 'Noto Sans JP', sans-serif;
	gap: 1rem;
}

.ct-stats-mid
{
	flex: 1;
}

.ct-mid-container
{
	gap: 1rem;
	flex: 1;
	gap: 0.5rem;
}

.ct-mid-container > .ct-mid-title
{
	font-size: 0.8rem;
	color: var(--stat-1);
}

.ct-stats-bot
{
	flex: 1;
}

.ct-stats-bot > .ct-bot-left
{
	flex: 1;
	gap: 0.5rem;
	padding: 1rem;
	color: var(--stat-1);
	border-radius: 10px 0 0 10px;
	background-color: var(--stat-2);
}

.ct-stats-bot > .ct-bot-right
{
	flex: 1;
	gap: 0.5rem;
	padding: 1rem;
	color: var(--stat-2);
	border-radius: 0 10px 10px 0;
	background-color: var(--stat-1);
}

.ct-stats-bot .ct-bot-title
{
	font-size: 0.8rem;
}

.ct-stats-bot .ct-bot-num
{
}


/* -------------------------------------------------- */
/*  Home-elements -- middle-panel */
/* -------------------------------------------------- */
.ct-board-home
{
}

.ct-board-home > .ct-home-section
{
	gap: 1rem;
}

.ct-home-section > h3
{
	font-size: 1.3rem;
}

.ct-home-section > .ct-section-btns
{
	gap: 2rem;
}

.ct-section-btns > button
{
	min-width: 12rem;
}

.ct-mpanel-bottom .ct-bottom-placeholder
{
	color: var(--txt-4);
}

/* -------------------------------------------------- */
/*  Home-elements -- right-panel */
/* -------------------------------------------------- */
.ct-main-rpanel > .ct-rpanel-list > .ct-rpanel-placeholder
{
	color: var(--txt-4);
}
