@import "./toolkit/bootstrap.min.css";
@import "./toolkit/reset.css";
@import "./toolkit/fonts.css";

/* -------------------------------------------------- */
/* core */
/* -------------------------------------------------- */
:root {
	/* colors */
	--cor-main-chat: #c8c40b;
	--cor-main-dark: #212529;
	--cor-main-dark-heavy: #1c1f23;
	--cor-main-dark-placeholder: #1e2226;
	--cor-main-light: #e8edf2;
	--cor-main-grey: #dee2e6;
	--cor-main-grey-placeholder: #24292d;
	--cor-online: #00ff00;
	--cor-offline: #636363;
}

html,
body
{
	width: 100vw;
	height: 100vh;
	user-select: none;
	color: var(--cor-main-light);
	background-color: var(--cor-main-dark);
	font-family: 'Noto Sans JP' ,sans-serif;
}

/* -------------------------------------------------- */
/* text-style */
/* -------------------------------------------------- */
.truncate {
  width: 150px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* -------------------------------------------------- */
/* buttons */
/* -------------------------------------------------- */
.my-btn-primary {
	border: none;
	padding: 1rem 1.5rem;
	border-radius: 6px;
	color: var(--cor-main-light);
	background: var(--cor-main-dark);
	box-shadow:  7px 7px 14px #1d2024,
				 -7px -7px 14px #252a2e;
}

.my-btn-primary:hover {
	border-radius: 6px;
	background: linear-gradient(145deg, #23282c, #1e2125);
	box-shadow:  7px 7px 14px #1d2024,
				 -7px -7px 14px #252a2e;
}

.my-btn-primary:active {
	color: #2f353a;
	border-radius: 6px;
	background: #212529;
	box-shadow: inset 7px 7px 14px #1d2024,
				inset -7px -7px 14px #252a2e;
}
